.StyledHeader {
  .twoButtons {
    display: flex; /* default state */
  }

  .PhoneButton {
    display: none; /* default state */
  }

  @media screen and (max-width: 1024px) {
    .searchInput {
      width: 90% !important;
    }
    .twoButtons {
      display: none; /* Hide the first div when width <= 1270px */
    }
    .PhoneButton {
      display: flex; /* Show the second div when width <= 1270px */
      justify-content: center; /* Optional: center the icon */
      align-items: center;
    }
    .WorkTime {
      display: none;
    }
    .text {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .searchInput {
    width: 100% !important;
  }
  .phoneMenu {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff; /* Orqa fon rangi */
    padding: 10px; /* Ichki chekka */
    gap: 3px;
    justify-content: space-around;
    z-index: 1000; /* Har qanday boshqa element ustida ko'rinishini ta'minlash uchun */
    .text {
      display: flex;
    }
  }
}
@media screen and (max-width: 200px) {
  .searchInput {
    width: 100% !important;
  }
}
