#root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f8f7f3;
}
::-webkit-scrollbar {
  width: 1vw;
  cursor: pointer !important;
}
@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 2vw;
  }
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  background-color: #07745e;
  border: 0.3vw solid #ffffff;
  border-radius: 5vw;
  cursor: pointer !important;
}
.ant-table-content {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #07745e transparent;
}
